body {
    margin: 0px;
    background-color: rgba(62, 228, 250, 0.205);
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }


.navbar{
    background-color: rgba(242, 242, 242, 0.776);
    /* position: absolute; */
    margin-bottom: 2em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);
    /* position:fixed; */
    /* width: 200vh; */
}
#name{
    text-decoration: underline;
    font-size:xx-large;
    padding-right: 2rem;
}
.name , h3{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.intro{
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.container{
    display: flex;
    margin-left: auto;
    /* text-align: left; */
    margin-right: auto;
    /* display: flex; */
    /* text-align: center; */
    /* padding: auto; */
    /* margin: auto; */
    /* width: 100vh;/ */
    justify-content: center;
    align-items: center;
    /* margin: 0px; */
    padding: 0px 0px;
    padding-top: 2em;
    /* padding-bottom: 2em;s */
    /* padding-top: 3rem; */
    padding-bottom: 4em;
    /* border-bottom: 1px solid #000; */
}
.profile-pic{
    max-height:400px ;
    max-width: 300px;
    min-height:50px;
    min-width: 50px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* border: 1px solid rgba(4, 4, 4, 0.518); */
}
.icon{
    max-width:150px ;
    max-height:150px ;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
}
@media (max-width: 576px){
    .profile-pic{
        height: 120px;
        /* width: 120px; */
    }
.icon{
    max-width: 40px;
    max-height: 40px;
    
}
    .name{
        font-size: 1.3rem;
    }
    h3{
        font-size: 1rem;
    }
    p{
        font-size: 0.9rem;

    }

}

.sub-title{
    text-decoration: underline;
}
#shaded{
    color: rgba(0, 0, 0, 0.563);
}
.sub{
    border-bottom: 1px solid #000;
border-top: 1px solid #000;
    padding: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    gap: 2em;
    text-align: center;
    min-height: 40vh;
    /* max-height: 70vh; */
    background-color: rgba(255, 255, 255, 0.87);
}
p{
    color: rgba(0, 0, 0, 0.625);
    /* text-align: left;/ */
    max-width: 320px;
    min-width: 200px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.about{
    flex-wrap: wrap;
    /* background-color: aliceblue; */
    gap: 2em;
    justify-content: center;
    align-items: center;
    display: flex;
    /* flex-direction: column; */
    padding: 1em;
}
.container-skills{
    padding: 3rem;
    /* padding-bottom: 3rem; */
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid black ; */
    padding-bottom: 5em;


}
.skillIcons{
    display: flex;
    justify-content:center;
    gap: 2rem;
    flex-wrap: wrap;
}
.project-cards{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    /* border-bottom: 1px solid #000;    */
}

.container-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    gap: 10px;
    border-bottom: 1px solid #000;
    /* width: 30vh; */
    min-height: 30vh;
}
.sub-contact{
    color: rgba(0, 0, 0, 0.568);
    text-align: left;
    padding: 3px;
}
a{
    text-decoration:none;
    color: rgba(40, 107, 196, 0.801);

}
.links{
    
    display: flex;
    gap: 2rem;
    /* justify-content: center; */
    /* padding: 1rem; */
    justify-content: space-between;
}
.footer{
    /* font-size: smaller; */
    text-align: center;
    padding: 5px 0px;
    background-color: #fff;
    border-bottom: 1px solid #000;
    background-color: rgba(242, 242, 242, 0.776);
    /* position:fixed; */
}
#myBtn {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 30%;
    border: 2px solid;
    font-size: larger;
    margin-top: 1rem;
  }